{% extends 'admin/base.html.twig' %}

{% block menu %}
<ul class="nav nav-sidebar">
    <li><a href="/admin/index" class="active">营业情况概览</a></li>
    <li><a href="/admin/in">开房记录统计</a></li>
    <li><a href="/admin/out">退房结账统计</a></li>
    <li><a href="/admin/order">预订记录统计</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li ><a href="/admin/room">房间管理</a></li>
    <li ><a href="/admin/receptionist">前台人员管理</a></li>
    <li ><a href="/admin/people">用户管理</a></li>
</ul>
{% endblock %}
{% block title %}营业情况概览{% endblock %}
{% block extracss %}
{% endblock %}
{% block extrajs %}
{% endblock %}
{% block body %}
<h1 class="page-header">总览</h1>

<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Something else</span>
    </div>
</div>

<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}