{% extends 'admin/base.html.twig' %}

{% block menu %}
<ul class="nav nav-sidebar">
    <li><a href="/admin/index">营业情况概览</a></li>
    <li><a href="/admin/in">开房记录统计</a></li>
    <li><a href="/admin/out">退房结账统计</a></li>
    <li><a href="/admin/order">预订记录统计</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li ><a href="/admin/room">房间管理</a></li>
    <li ><a href="/admin/receptionist" class="active">前台人员管理</a></li>
    <li ><a href="/admin/people">用户管理</a></li>
</ul>
{% endblock %}
{% block title %}前台人员管理{% endblock %}
{% block extracss %}
{% endblock %}
{% block extrajs %}
{% endblock %}
{% block body %}

<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            <th>#</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            <th>Header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>1,001</td>
            <td>Lorem</td>
            <td>ipsum</td>
            <td>dolor</td>
            <td>sit</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}