<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/favicon.png">
        <title>宾馆管理系统</title>
        <link href="/package/Admin/bootstrap.min.css" rel="stylesheet">
        <link href="/package/Admin/dashboard.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">宾馆管理系统</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signout">安全退出</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar">
                        <ul class="nav nav-sidebar">
                            <li class="active"><a href="#">开房登记</a></li>
                            <li><a href="/front-out">退房结账</a></li>
                        </ul>
                        <ul class="nav nav-sidebar">
                            <li><a href="/user/">用户操作</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h2 class="sub-header">房间列表</h2>
                    <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr><th>加载中</th></tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="/package/Admin/jquery.min.js"></script>
        <script src="/package/Admin/bootstrap.min.js"></script>
        <script>
            $(function(){
                load();
            });
            function load()
            {
                $.ajax({
                    'method': 'get',
                    'content-type': 'json',
                    'url': '/room/list',
                    'data': {
                        'type': 'order'
                    },
                    'success': function(result){
                        $("thead").html('<tr><th>#</th><th>房间号</th><th>房间推荐居住人数</th><th>预订人</th><th>预订住房日期</th><th>预订住房天数</th><th>操作</th></tr>');
                        $("tbody").html('');
                        if (result.code == 0) {
                            $.each(result.data, function(i, val){
                                $("tbody").append('<tr><td>' + (i + 1) + '</td><td>' + val.num + '</td><td>' + val.people + '</td><td>' + (val.nickname == null ? '' : val.nickname) + '</td><td>' + (val.book_date == null ? '' : val.book_date) + '</td><td>' + (val.days == null ? '' : val.days) + '</td><td><a href="#" onclick="checkIn(' + val.id + ');"> 登记 </a></td></td></tr>')
                            });
                        } else {
                            alert(result.message);
                        }
                    }
                });
            }
            function checkIn(id)
            {
                $.ajax({
                    'method': 'post',
                    'content-type': 'json',
                    'url': '/check/in',
                    'data': {
                        'roomId': id,
                        'guest': prompt('请输入顾客姓名'),
                        'inDate': prompt('请输入入住日期（如：2018-06-28）'),
                        'days': prompt('请输入入住天数（如：3）')
                    },
                    'success': function(result) {
                        load();
                    }
                });
            }
        </script>
    </body>
</html>