<html lang="zh-CN"><head>
        <meta charset="utf-8">
        <link rel="icon" href="/favicon.png">
        <title>登录</title>
        <link href="/package/Admin/bootstrap.min.css" rel="stylesheet">
        <link href="/package/Admin/signin.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form class="form-signin">
                <h2 class="form-signin-heading">注册</h2>
                <label for="account" class="sr-only">账号</label>
                <input type="text" id="account" class="form-control" placeholder="账号" required="" autofocus="">
                <label for="nickname" class="sr-only">昵称</label>
                <input type="text" id="nickname" class="form-control" placeholder="昵称" required="" autofocus="">
                <label for="password" class="sr-only">密码</label>
                <input type="password" id="password" class="form-control" placeholder="密码" required="">
                <div class="checkbox">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="register">注册</button>
                <div class="btn btn-lg btn-primary btn-block" onclick="window.location.assign('/signin');">登录</div>
            </form>
        </div> 
        <script src="/package/Admin/jquery.min.js"></script>
        <script>
            $('#register').on('click', function() {
                var account = $("#account").val();
                var nickname = $("#nickname").val();
                var password = $("#password").val();
                if (account == '' || password == '') {
                    return false;
                }
                var data = {
                    'account': account,
                    'nickname': nickname,
                    'password': password
                };
                $.ajax({
                    'method': 'post',
                    'content-type': 'json',
                    'url': '/register',
                    'data': data,
                    'success': function(result){
                        if (result.code != 0) {
                            alert(result.message);
                        } else {
                            window.location.assign('/');
                        }
                    }
                });
                return false;
            });
        </script>
    </body>
</html>