<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/favicon.png">
        <title>宾馆管理系统</title>
        <link href="/package/Admin/bootstrap.min.css" rel="stylesheet">
        <link href="/package/Admin/dashboard.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">宾馆入住预订系统</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signout">安全退出</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                    <div class="col-sm-3 col-md-2 sidebar">
                        <ul class="nav nav-sidebar">
                            <li><a href="/user/">房间列表</a></li>
                            <li class="active"><a href="#">我预订的</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    <h2 class="sub-header">我预订的</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr><th>加载中</th></tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script src="/package/Admin/jquery.min.js"></script>
        <script src="/package/Admin/bootstrap.min.js"></script>
        <script>
            $(function(){
                load();
            });
            function load()
            {
                $.ajax({
                    'method': 'get',
                    'content-type': 'json',
                    'url': '/room/list',
                    'data': {
                        'type': 'mine'
                    },
                    'success': function(result){
                        $("thead").html('<tr><th>#</th><th>房间号</th><th>房间推荐居住人数</th><th>入住日期</th><th>入住天数</th><th>状态</th><th>操作</th></tr>');
                        $("tbody").html('');
                        if (result.code == 0) {
                            $.each(result.data, function(i, val){
                                switch (parseInt(val.status)) {
                                    case 1 :
                                        val.status = '<b style="color:green">已预订</b></td><td><a href="#" onclick="unbook(' + val.id + ');"> 取消预订 </a></td>';
                                        break;
                                    case 2 :
                                        val.status = '<b style="color:lightgray">已取消</b></td><td></td>';
                                        break;
                                    case 3 :
                                        val.status = '<b style="color:lightblue">已入住</b></td><td></td>';
                                        break;
                                }
                                $("tbody").append('<tr><td>' + (i + 1) + '</td><td>' + val.num + '</td>><td>' + val.people + '</td><td>' + val.book_date + '</td>><td>' + val.days + '</td><td>' + val.status + '</tr>')
                            });
                
                        } else {
                            alert(result.message);
                        }
                    }
                });
            }
            function unbook(id)
            {
                $.ajax({
                    'method': 'post',
                    'content-type': 'json',
                    'url': '/unbook',
                    'data': {
                        'bookingId': id
                    },
                    'success': function(result) {
                        load();
                    }
                });
            }
        </script>
    </body>
</html>